absl-py==2.2.2
AccessControl==7.2
Acquisition==6.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
appnope==0.1.4
argcomplete==3.5.2
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.5
attrs==24.2.0
AuthEncoding==5.0
babel==2.17.0
beautifulsoup4==4.12.3
binaryornot==0.4.4
bleach==6.2.0
blinker==1.9.0
borg.localrole==3.1.11
BTrees==6.1
build==1.2.2.post1
certifi==2024.8.30
cffi==2.0.0
Chameleon==4.5.4
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
collective.monkeypatcher==1.2.2
colorama==0.4.6
comm==0.2.2
contourpy==1.2.1
cookiecutter==2.6.0
cryptography==46.0.7
cssselect==1.2.0
cycler==0.12.1
DateTime==5.5
debugpy==1.8.14
decorator==5.1.1
defusedxml==0.7.1
diazo==2.0.2
distlib==0.3.8
distro==1.9.0
dnspython==2.6.1
DocumentTemplate==4.6
docutils==0.21.2
dotenv==0.9.9
executing==2.2.0
ExtensionClass==6.0
fastapi==0.136.0
fastjsonschema==2.21.1
feedparser==6.0.11
filelock==3.15.4
five.customerize==3.0.0
five.intid==2.0.0
five.localsitemanager==4.0
Flask==3.1.1
flatbuffers==25.2.10
fonttools==4.53.0
fqdn==1.5.1
future==1.0.0
gast==0.6.0
google-ai-generativelanguage==0.6.15
google-api-core==2.30.3
google-api-python-client==2.194.0
google-auth==2.49.2
google-auth-httplib2==0.3.1
google-genai==1.72.0
google-generativeai==0.8.6
google-pasta==0.2.0
googleapis-common-protos==1.74.0
graphviz==0.20.3
grpcio==1.80.0
grpcio-status==1.71.2
h11==0.14.0
h5py==3.13.0
httpcore==1.0.5
httplib2==0.31.2
httpx==0.28.1
icalendar==6.1.0
idna==3.7
ipykernel==6.29.5
ipython==9.2.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.4
jiter==0.5.0
joblib==1.4.2
json5==0.12.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.16.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.3
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
keras==3.9.2
kiwisolver==1.4.5
libclang==18.1.1
lxml==5.3.0
lxml_html_clean==0.4.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.0
matplotlib-inline==0.1.7
mdurl==0.1.2
Missing==5.0
mistune==3.1.3
ml_dtypes==0.5.1
MouseInfo==0.1.3
MultiMapping==5.0
multipart==1.2.1
mysql-connector-python==9.1.0
namex==0.0.8
narwhals==1.41.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.5
notebook==7.4.3
notebook_shim==0.2.4
numpy==1.26.4
openai==1.40.3
opencv-python==4.11.0.86
opt_einsum==3.4.0
optree==0.15.0
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.1
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
Paste==3.10.1
PasteDeploy==3.1.0
pathlib2==2.3.7.post1
Persistence==5.1
persistent==6.1
pexpect==4.9.0
phonenumbers==9.0.10
piexif==1.1.3
pillow==10.3.0
pip-tools==7.4.1
pipx==1.7.1
platformdirs==4.2.2
plone.alterego==2.0.1
plone.api==2.2.3
plone.app.content==4.1.7
plone.app.contentlisting==3.0.5
plone.app.contentmenu==3.0.6
plone.app.contentrules==5.0.5
plone.app.contenttypes==4.0.2
plone.app.customerize==2.0.1
plone.app.dexterity==4.0.2
plone.app.event==5.2.0
plone.app.i18n==4.0.1
plone.app.intid==2.0.0
plone.app.layout==5.0.1
plone.app.linkintegrity==4.0.6
plone.app.locales==6.0.25
plone.app.lockingbehavior==2.0.1
plone.app.portlets==6.0.0
plone.app.querystring==2.1.2
plone.app.redirector==3.0.3
plone.app.registry==2.0.5
plone.app.relationfield==4.0.0
plone.app.textfield==3.0.0
plone.app.theming==5.0.10
plone.app.upgrade==3.1.7
plone.app.users==3.0.8
plone.app.uuid==2.2.3
plone.app.versioningbehavior==2.0.3
plone.app.viewletmanager==4.0.3
plone.app.vocabularies==6.0.1
plone.app.workflow==5.0.3
plone.app.z3cform==4.7.1
plone.autoform==2.0.2
plone.autoinclude==1.0.1
plone.base==2.0.2
plone.batching==2.0.6
plone.behavior==2.0.1
plone.browserlayer==3.0.2
plone.caching==2.0.1
plone.contentrules==3.0.1
plone.dexterity==3.0.6
plone.event==2.0.2
plone.folder==4.0.1
plone.formwidget.namedfile==3.1.0
plone.formwidget.recurrence==3.0.4
plone.i18n==5.0.2
plone.indexer==2.0.1
plone.intelligenttext==4.0.1
plone.keyring==4.0.2
plone.locking==3.0.1
plone.memoize==3.0.2
plone.namedfile==6.4.0
plone.outputfilters==5.0.4
plone.portlet.collection==4.0.3
plone.portlet.static==4.0.3
plone.portlets==3.0.1
plone.protect==5.0.3
plone.registry==2.0.1
plone.resource==3.0.2
plone.resourceeditor==4.0.1
plone.rfc822==3.0.1
plone.scale==4.1.3
plone.schema==2.0.1
plone.schemaeditor==4.0.7
plone.session==4.0.4
plone.staticresources==2.1.16
plone.stringinterp==2.0.2
plone.subrequest==2.0.5
plone.supermodel==2.0.4
plone.theme==4.0.2
plone.transformchain==3.0.1
plone.uuid==2.0.1
plone.z3cform==2.0.3
plonetheme.barceloneta==3.2.0
plotly==6.1.1
Products.BTreeFolder2==5.1
Products.CMFCore==3.6
Products.CMFDiffTool==4.0.4
Products.CMFDynamicViewFTI==7.0.2
Products.CMFEditions==4.0.3
Products.CMFPlone==6.1.0b1
Products.CMFUid==4.2
Products.DateRecurringIndex==3.0.1
Products.DCWorkflow==3.0
Products.ExtendedPathIndex==4.0.1
Products.ExternalMethod==6.0
Products.GenericSetup==4.0
Products.isurlinportal==3.0.0
Products.MailHost==5.2
Products.MimetypesRegistry==3.0.1
Products.PlonePAS==8.0.4
Products.PluggableAuthService==3.0
Products.PluginRegistry==2.0
Products.PortalTransforms==4.1.1
Products.PythonScripts==5.1
Products.Sessions==5.0
Products.SiteErrorLog==6.0
Products.StandardCacheManagers==5.0
Products.statusmessages==5.0.6
Products.ZCatalog==7.1
Products.ZopeVersionControl==4.1
prometheus_client==0.22.0
prompt_toolkit==3.0.51
proto-plus==1.27.2
protobuf==5.29.4
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.3
pyasn1_modules==0.4.2
PyAudio==0.2.14
PyAutoGUI==0.9.54
pycparser==2.22
pydantic==2.12.5
pydantic_core==2.41.5
PyGetWindow==0.0.9
Pygments==2.18.0
pymongo==4.8.0
PyMsgBox==1.0.9
pyobjc-core==10.3.1
pyobjc-framework-Cocoa==10.3.1
pyobjc-framework-Quartz==10.3.1
pyparsing==3.1.2
pyperclip==1.9.0
pyproject_hooks==1.2.0
PyRect==0.2.0
PyScreeze==0.1.30
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-gettext==5.0
python-json-logger==3.3.0
python-pptx==1.0.2
python-slugify==8.0.4
pytweening==1.2.0
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.4.0
Record==4.1
referencing==0.35.1
repoze.xmliter==0.6.1
requests==2.32.3
RestrictedPython==7.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
roman==4.2
rpds-py==0.22.3
rubicon-objc==0.4.9
scikit-learn==1.6.1
scipy==1.14.0
seaborn==0.13.2
selenium==4.24.0
Send2Trash==1.8.3
setuptools==75.6.0
sgmllib3k==1.0.0
simplejson==3.19.3
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
SpeechRecognition==3.10.4
stack-data==0.6.3
starlette==1.0.0
tenacity==9.1.4
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
termcolor==3.0.1
terminado==0.18.1
text-unidecode==1.3
threadpoolctl==3.6.0
tinycss2==1.4.0
tornado==6.5.1
tqdm==4.66.5
traitlets==5.14.3
transaction==5.0
trio==0.26.2
trio-websocket==0.11.1
types-python-dateutil==2.9.0.20241206
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2024.2
Unidecode==1.3.8
uri-template==1.3.0
uritemplate==4.2.0
urllib3==2.2.2
userpath==1.9.2
uvicorn==0.45.0
virtualenv==20.26.3
waitress==3.0.2
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
WebOb==1.8.9
webresource==1.2
websocket-client==1.8.0
websockets==16.0
WebTest==3.0.2
Werkzeug==3.1.3
wheel==0.45.1
widgetsnbextension==4.0.14
wikipedia==1.4.0
wrapt==1.17.2
WSGIProxy2==0.5.1
wsproto==1.2.0
xlsxwriter==3.2.9
z3c.caching==3.0
z3c.form==5.1
z3c.formwidget.query==2.0.0
z3c.objpath==2.0
z3c.pt==4.4
z3c.relationfield==2.0.0
z3c.zcmlhook==2.0
zc.lockfile==3.0.post1
zc.relation==2.0
ZConfig==4.1
zExceptions==5.0
ZODB==6.0
zodbpickle==4.1.1
Zope==5.10
zope.annotation==5.0
zope.app.locales==5.0
zope.browser==3.0
zope.browsermenu==5.0
zope.browserpage==5.0
zope.browserresource==5.1
zope.cachedescriptors==5.0
zope.component==6.0
zope.componentvocabulary==2.3.0
zope.configuration==6.0
zope.container==6.1
zope.contentprovider==6.0
zope.contenttype==5.1
zope.copy==5.0
zope.datetime==5.0.0
zope.deferredimport==5.0
zope.deprecation==5.0
zope.dottedname==6.0
zope.event==5.0
zope.exceptions==5.2
zope.filerepresentation==6.0
zope.globalrequest==2.0
zope.hookable==7.0
zope.i18n==5.2
zope.i18nmessageid==7.0
zope.interface==7.2
zope.intid==5.0
zope.keyreference==6.0
zope.lifecycleevent==5.0
zope.location==5.0
zope.pagetemplate==5.1
zope.processlifetime==3.0
zope.proxy==6.1
zope.ptresource==5.0
zope.publisher==7.1
zope.ramcache==3.0
zope.schema==7.0.1
zope.security==7.3
zope.sendmail==6.2
zope.sequencesort==5.0
zope.site==5.0
zope.size==5.0
zope.structuredtext==5.0
zope.tal==5.0.1
zope.tales==6.0
zope.testbrowser==7.0
zope.testing==5.0.1
zope.traversing==5.0
zope.viewlet==5.0
